[submodule "mcuapp_stm32f0/microrl"]
	path = mcuapp_stm32f0/microrl
	url = https://github.com/tom66/microrl
[submodule "ps_app/src/Collections-C"]
	path = ps_app/src/Collections-C
	url = https://github.com/srdja/Collections-C.git
